@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap'); 

/*vars */
:root {
	--soft-orange: hsl(35, 77%, 62%);
	--soft-red: hsl(5, 85%, 63%);
	--off-white: hsl(36, 100%, 99%);
	--grayish-blue: hsl(233, 8%, 79%);
	--dark-grayish-blue: hsl(236, 13%, 42%);
	--very-dark-blue: hsl(240, 100%, 5%);
	--font: 'Inter', sans-serif;
}

* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, p, a {
	font-family: var(--font);
	margin: 0;
}

h1, h2, h3 {
	color: var(--very-dark-blue);
	font-weight: 800;
}

p {
	color: var(--dark-grayish-blue);
	font-size: 0.8rem;
	line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
	max-width: 100%;
}

.wrapper {
	padding: 1.5rem 1rem;
	margin: 0 auto;
	max-width: 1000px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.5rem;
}

.logo {
	width: 2.5rem;
}

#open-menu {
	width: 2rem;
	cursor: pointer;
}

#close-menu {
	width: 2rem;
	position: absolute;
	top: 2rem;
	right: 2rem;
	cursor: pointer;
}

.nav-bar {
	opacity: 0;
	visibility: hidden;
	height: 0;
	width: 0;
	list-style-type: none;
	padding-left: 0;
	right: -100%;
	transition: right .4s;

}

.nav-bar.active {
	opacity: 1;
	visibility: visible;
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 0;
	top: 0;
	background-color: var(--off-white);
	width: 75%;
	min-height: 100vh;
	padding-left: 1.5rem;
	padding-top: 4.5rem;
	gap: 1.2rem;
	box-shadow: 0 0 0 1000vmax rgba(0, 0, 0, .5);
}

.nav-bar.closing {
	right: -100%;
}
.nav-bar li a {
	color: var(--very-dark-blue);
	font-size: 1.rem;
}
.nav-bar li a:hover {
	color: var(--soft-red);
	cursor: pointer;
}

.main-article {
	display: flex;
	flex-direction: column; 
	
}

.main-article p {
	margin-bottom: 1rem;
}

.main-article  img, h1, p, a {
	padding-bottom: 1rem;

}

.main-article-img.desktop {
	display: none;
}

.main-article-title {
	font-size: 2.2rem;
	line-height: 1;
}
.main-article-secondary {
	display: flex;
	flex-direction: column;
}

.read-more {
  background-color: var(--soft-red);
  color: var(--off-white);
  letter-spacing: .2rem;
  padding: .75rem 2rem;
  max-width: max-content;
  font-size: .75rem;
  font-weight: 400;
}

.read-more:hover {
	background-color: var(--very-dark-blue);
}

.new {
  margin-top: 3.75rem;
  padding: 1rem;
  background-color: var(--very-dark-blue);
}

.new-title {
  color: var(--soft-orange);
  font-weight: 700;
	padding-bottom: .75rem;
}

.new-article {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--dark-grayish-blue);
}

.new-article-title {
  color: var(--off-white);
  font-size: 1rem;
	padding-block: 1rem;
	cursor: pointer;
}

.new-article-title:hover {
	color: var(--soft-orange);
}

.new-article-paragraph {
	color: var(--grayish-blue);
}

.new-article:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

/* tech article */
.tech {
  margin-top: 2.75rem;
  display: flex;
	flex-direction: column;
	gap: 2rem;
}

.tech-article {
	display: grid;
	grid-template-columns: 1fr 2.2fr;
}

.tech-wrapper {
	display: flex;
	flex-direction: column;
}

.tech-article-number {
	font-size: 1.8rem;
	font-weight: 700;
	color: var(--grayish-blue);
	padding-inline: 1rem;
	padding-bottom: 0;
	line-height: .8;
}

.tech-article-title, .tech-article-paragraph {
	padding-inline-start: 1.2rem;
}

.tech-article-paragraph {
	padding-top: .5rem;
	line-height: 1.8;
}

.tech-article-title {
	font-weight: 800;
	padding-top: 0;
	margin-top: 0;
	cursor: pointer;
	font-size: 1rem;
}

.tech-article-title:hover {
	color: var(--soft-red)
}

@media  screen and (min-width: 600px) {

	.menu img {
		display: none;
	}

	.nav-bar {
		opacity: 1;
		visibility: visible;
		display: flex;
		gap: 2rem;
		position: static;
		width: 100%;
		height: 100%;
	}

	.nav-bar li a {
		font-size: .9rem;
	}
}	
	
@media  screen and (min-width: 850px) {

#open-menu {
		display: none;
	}

#close-menu {
		display: none;
	}
	.nav-bar {
		display: flex;
		gap: 2rem;
		list-style: none;
	}

	.nav-bar li a {
		color: var(--dark-grayish-blue);
		font-size: 0.9rem;
	}

	
	.main-article-img.desktop {
		display: block;
	}

	.main-article-img.mobile {
		display: none;
	}
	
	.main-article-title {
		font-size: 3rem;
	}

	.main-wrapper {
		display: grid;
		gap: 1.75rem;
		grid-template-columns: 2.4fr 1fr;
	}
	
	.main-article-content {
		display: flex;
		flex-direction: row;
		gap: 5.5rem;
		
	} 

	.main-article-content > * {
		flex-basis: 100%;
	}

	.new {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 0;
		padding-bottom: 0;
	}

	.tech {
		flex-direction: row;
	}

}